/* Dropdown.module.css */
.customScrollbar {
  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: black transparent; /* thumb and track color - 'transparent' for track */
}

/* Webkit (Chrome, Safari, Edge) scrollbar */
.customScrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent; /* Changed to transparent */
  border-radius: 10px; /* rounded track */
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 10px; /* rounded thumb */
  border: 2px solid transparent; /* Changed to transparent border, so no visible padding */
}
